.recommend {
  background-color: $color_light;
  padding: 25px;
  width: 28%;
  height: 473px;
}

.recommend__title {
  color: $color_dark;
  font-size: 20px;
  font-weight: lighter;
}

.recommend__list {
  @include list-reset;
  padding-top: 20px;
  font-size: 16px;
}

.recommend__link {
  display: block;
  padding-bottom: 13px;
  color: $color_light-gray;

  &:hover {
    opacity: 0.8;
    color: $color_orange;
  }

  &:active {
    color: $color_orange;
    opacity: 0.5;
  }
}
