.window-choice {
  background-color: $color_light;
  padding-bottom: 100px;
}

.window-choice__img {
  width: 198px;
  height: 353px;
}

.window-choice__wrapper {
  display: flex;
  padding-left: 82px;
}

.window-choice__title {
  font-size: 25px;
  font-weight: lighter;
  color: $color_dark;
  padding: 25px;
}

.window-choice__info {
  margin-left: 100px;
}

.window-choice__item {
  font-size: 14px;
  padding: 3px;
  color: $color_dark;
}

.window_choice__name {
  font-size: 20px;
}

.window-choice__button {
  display: block;
  background-color: #eb5825;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
}

.window-choice__link {
  color: $color_light-gray;
  display: block;;
  margin-top: 10px;

  &:hover {
    color: black;
  }

  &:active {
    opacity: 0.8;
  }
}

.window-choice__container p {
  color: $color_light-gray;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}
