$font-base:
  "Arial", sans-serif;

$color_light-blue: #e1f0f8; //background-color
$color_blue: #7bc3d5; //current link
$color_light: #ffffff;
$color_dark: #4b4b4b; //main text
$color_orange: #ee7654; //link hover and bg buttons
$color_light-gray: #a5a5a5; //light text
